/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    padding: 0px;
    margin: 0px;
    background:rgb(231, 230, 230);
}

